[Unit]
Description=Wifi configuration
After=connman.service
Wants=connman.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/default/config-wifi
ExecStart=/usr/bin/config-wifi.sh
StandardOutput=journal+console
StandardError=journal+console
SyslogIdentifier=config-wifi

[Install]
WantedBy=multi-user.target
